#root {
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FED800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  flex-grow: 1;
  background-image: url("./assets/sticky_note-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin: 0;
  padding: 0;
}

footer {
  font-size: 0.8rem;
  margin: 1rem 0 0 0;
  padding: 0;
  margin-top: auto;
  margin-bottom: 0.25rem;
}

a {
  color: black;
}

a:hover {
  color: white;
  text-decoration: none;
}

nav a {
  padding: 0.5rem;
  margin: 0rem;
}

nav {
  background-color: #DAC035;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

li {
  text-align: left;
  margin-bottom: 1rem;
}

#emphasis-span {
  color: blue;
}
