#root {
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fed800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  flex-grow: 1;
  background-image: url("./assets/sticky_note-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  margin: 1rem 0 0 0;
  padding: 0;
  margin-bottom: 0.25rem;
  width: 100%;
}

a {
  color: black;
}

a:hover {
  color: white;
  text-decoration: none;
}

nav a {
  padding: 0.5rem;
  margin: 0rem;
}

nav {
  background-color: #dac035;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

li {
  text-align: left;
  margin-bottom: 1rem;
}

#emphasis-span {
  color: blue;
}

#tagline {
  font-size: 1.5rem;
}
/* --------------------------------------------Account Page Styles --------------------------------------------------*/
#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.login-field-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

#login-buttons-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}

#login-container label {
  font-size: 1.25rem;
  width: 7rem;
  text-align: right;
}

#login-container input {
  font-size: 1.1rem;
  padding: 0.4rem 0.6rem;
  height: 1.5rem;
  width: 14rem;
}
/*-----------------------------------------Habits List Styles -------------------------------------------------------*/
.habits-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.habit-container {
  display: flex;
  height: 3rem;
  justify-content: center;
}

.habit-inner-wrapper {
  border: 0.1rem solid black;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-right: 0.5rem;
}

.habit-checkbox {
  width: 3rem;
}

.habit-interval {
  margin-left: auto;
}

.edit-icon {
  width: 2.5rem;
  background-image: url("./assets/edit-icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.edit-icon:hover {
  cursor: pointer;
}

.delete-icon {
  width: 2.5rem;
  background-image: url("./assets/delete-icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.delete-icon:hover {
  cursor: pointer;
}

#add-habit-button {
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
  background-color: #08eb08;
  border: none;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}

#add-habit-button:hover {
  background-color: #0eba0e;
  cursor: pointer;
}

/* ------------------------------------------------Add/Edit Habit Pages --------------------------------------------------*/
.habit-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-left: 32.5%;
}

.habit-input-buttons-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}
.habit-input-button {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
}

.habit-input-button:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.habit-input-confirm-button {
  background-color: #08eb08;
}

.habit-input-confirm-button:hover {
  cursor: pointer;
  background-color: #0eba0e;
}

.habit-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.habit-inputs-container label {
  font-size: 1.2rem;
  width: 7rem;
  text-align: right;
}

.habit-inputs-container input,
.habit-inputs-container select {
  font-size: 1.1rem;
  padding: 0.4rem 0.6rem;
  height: 2.2rem;
}

#edit-habit-completed-checkbox {
  margin-left: -0.4rem;
}
